<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crackers Shop</title>
    <link rel="icon" href="/img/kingicon.jpg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <%- include('partial/header') %>

    <div class="about">
      <img class="icon" src="/img/the-king-high-resolution-logo-transparent.png" alt="">
            <p> Crackers Shoping</p></div>
    <div class="div">
        <p class="p">Different kind of Offers </p>
        <p class="p"> We can buy or sell.
        </p>
        <p class="p"> Top Brands Available</p>
    </div>
    <div class="div2">
        <p> Available Brands </p>
    </div>

    <div class="gallerybox">
        <div class="imgbox">    
            <a href="sony">
            <img src="/img/Sony.png" alt="sony"></a>
            <a href="kannan">
                <img src="/img/kanan.jpeg" alt="kanna"></a>
                <a href="standard">
                    <img src="/img/standard.png" alt="standard"></a>
                    <a href="anil">
            <img src="/img/anil.png" alt="standard"></a>
        </div>
    </div>
    </div>
    </div>
    <div id="order" >
       <a href="list" > <H2>Order Now</H2></a>
    </div>

    <div class="h1">
        <h1>Make Your Day More Colorful</h1>
    </div>
    <p>Every wonderful moment would be incomplete without crackling sounds and colors. All of your cracker needs for
        wholesale prices are handled in one location. Buy your favourite crackers online at a lower price. Providing
        worthy products is our first priority. This shop will give you 100% satisfaction for every product you purchase.
    </p>
    <br>
    <p>Celebrate your Diwali and other functions by ordering nattu vedi crackers online. Now you can easily buy crackers
        online without going to any shop and no need to bargain with anyone, and there are a lot of benefits, such as
        the comfort of purchasing from your home, the accessibility of choice, and the greatest rates.</p>
    <br>
    <p>Sivakasi crackers are always special hand-made items, and we supply 200+ varieties of crackers to Sivakasi and
        all over Tamilnadu. Biggest sound crackers, 5000 Wala, Mega bomb, Skyrockets, Ground Chakkars, Red Bijili, Twin
        Spinner Super Deluxe, Flower Pots Special, and many more items are available here to make your day so special.
        We want to make your day more colorful with your close ones.</p>
        

    <div class="service" style="background-color: #eeca1cf5;">
        <div class="container">
            <img src="/img/quality.jpeg" alt="" class="width">
            <h2 style="text-align: center;  color: red;">Quality Products</h2>
            <p>When it comes to Sivakasi Crackers, quality takes precedence over cost. We understand that the value of a
                product goes beyond its price tag. That's why we meticulously select Crackers with the same care as if
                we were choosing them for our own family. Our commitment to safety, premium quality, and affordability
                ensures an exceptional experience that resonates with both adults and children</p>
        </div>
        <div class="container">
            <img src="/img/delivery.jpeg" class="width" alt="">
            <h2 style="text-align: center;  color: red;">Delivery</h2>
            <p>Get your Orders Within Two Days.Pick your Orders from nearest Transport Office.Transport Charge to be
                paid separately while receiving the Goods. Visit FAQ section for more details.
            </p>
        </div>
        <div class="container">
            <img src="/img/eco.jpeg" class="width" alt="">
            <h2 style="text-align: center;  color: red;">Eco friendly</h2>
            <p>Nowadays environment is a primary concern.So our crackers are free of harmful components, like Barium,
                Aluminum and Chromium that are generally used in firecrackers to get different colours. Instead we use
                Government guided ECO friendly mixture of chemicals.
            </p>
        </div>
        <br>
        <div class="nxt">
            <h1 style="font-family: Brush Script MT, Brush Script Std, cursive; margin-left:40%">Thank You for visiting</h1>
            <h3 style="font-family: Roboto Slab,Helvetica,Tahoma,Arial,serif;font-size: 21px; text-align: center;">Dear
                customers, thank you for choosing Sri Balaji Agencies for your festive needs. We take pride in providing
                Sivakasi crackers all year round, ensuring joyous celebrations for Christmas, New Year, Pongal,
                weddings, and more. Trust in our quality, safety.</p>
        </div>


</body>

</html>