<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="img/bigili.jpeg">
    <link rel="stylesheet" href="./css/user.css">
</head>
<body>
    
    <form action="" method="post" >
        <div>
           <a href="index" style="text-decoration: none; color: aliceblue;"><i class="material-icons">home</i></a>
            
                    <h1 > <i class="material-icons ">person</i> Login</h1><br>
                    <input type="text" placeholder="username" pattern="[a-zA-Z]{8}"> <br><br>
                    <input type="password" placeholder="password" pattern="[A-Z][A-Za-z]+@gmail.com"><br><br>
                    <input type="submit" value="Login" name="" style="width: 170px;">
                    <br>
                    <label for="" style="color: white;">Can't get account?➡️</label><a href="signup" style="color: white;">Signup</a>
                <span></span>
                </div>
                </form>
</body>
</html>