<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Signup</title>
    <link rel="icon" href="/img/bigili.jpeg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/signup.css">
    <script defer src="valid.js"></script>
   
</head>

<body>
    <form action="/" id="form"  autocomplete="off">
        <a href="index" style="text-decoration: none; color: aliceblue;"><i class="material-icons">home</i></a>
        <h1 style="text-align: center;"><i class="material-icons">person</i><sup>+</sup> Signup</h1>
        <div class="input-control">
            <input type="text" placeholder="username" id="username" >
        </div>
        <div class="error"></div>
        <div class="input-control"> 
            <input type="email" placeholder="email" id="email">
        </div >
        <div class="error"></div>
        <div class="input-control">
            <input type="number" placeholder="phone number" id="phoneNumber">
        </div>
        <div class="error"></div>
        <div class="input-control">
            <input type="password" placeholder="password" id="password">
        </div>
        <div class="error"></div>
        
        <div class="input-control">
            <input type="password" placeholder=" confirm password" id="password2">
        </div>
        <div class="error"></div>
        <div class="input-control">
            <input type="text" placeholder="address">
        </div>
        <div class="error"></div> <br>
        <div>
        <button type="submit" style="background-color:rgba(255, 255, 255, 0.459);width:200px; margin-left: 20px;" >signup</button> 
    </div>
        <a href="login" style="text-decoration: none; color: aliceblue; float: right; color: black;"><i
                class='material-icons'>&#xe5c4;</i><sup>Back</sup></a>
    </form>

</body>

</html>