<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crackers Shop</title>
    <link rel="icon" href="/img/kingicon.jpg">
    <link rel="stylesheet" href="./css/list.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    


</head>

<body>
    <a  href="index" style="text-decoration: none; color: rgb(6, 122, 224);"><i class="material-icons">home</i></a>

    <table>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Content</th>
            <th>Actual Price</th>
            <th>Discount Price</th>
            <th>Fill Quantity</th>
            <th>Total</th>
        </tr>

        <tr style="background-color: #eeca1cf5;">
            <td colspan="7">
                <h2>Combo pack <strong>40%</strong></h2>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">
                <a href="/img/adult package.jpg">
                    <img src="/img/adult package.jpg" alt="Adult package"></a>
            </td>
            <td>
                Adult pack mini
            </td>
            <td>
              1 Pack
            </td>
            <td><strike> Rs.6000 </strike></td>
            <td class="row-price">Rs.4000</td>
            
                <td>
                <input type="number" step="1" min="1" class="calc"  value="" id="row-item-1"></td>
            <td><input type="number" class="amount" name="n1"  value="" id="row-total-1"></td>
       
        </tr>
        <tr>
            <td>
                <a href="/img/children pack.jpg">
                <img src="/img/children pack.jpg" alt="Children package"></a>
            </td>
            <td>Children Pack mini</td>
            <td>1 Pack</td>
            <td><strike>Rs.6000</strike></td>
            <td class="row-price">Rs.3500</td>
            
            <td><input type="number" step="1" min="1" class="calc"  id="row-item-2" value=""> </td>
            <td><input type="number"  value="" class="amount" id="row-total-2" name=""></td>
        </tr>
        <tr>
            <td>
                <a href="/img/family-pack-mini.jpg"> 
                <img src="/img/family-pack-mini.jpg" alt="Children package"></a>
            </td>
            <td>Family Pack mini</td>
            <td>1 Pack</td>
            <td><strike>Rs.8000</strike></td>
            <td class="row-price">Rs.5000</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>

        <tr>
            <td>
                <a href="/img/adult pack jumbo.jpg">
                <img src="/img/adult pack jumbo.jpg" alt="Adult jumbo"></a>
            </td>
            <td>
                Adult Pack Jumbo
            </td>
            <td>
                1 Pack
            </td>
            <td><strike>Rs.9000</strike></td>
            <td class="row-price">Rs.5500</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>



        </tr>
        <tr>
            <td>
                <a href="/img/family pack-jumbo.jpg">
                <img src="/img/family pack-jumbo.jpg" alt="Family jumbo"></a></td>
            <td>Family pack jumbo</td>
            <td>1 Pack</td>
            <td><strike>Rs.12000</strike></td>
            <td class="row-price">Rs.70000</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>

        <tr style="background-color: #eeca1cf5;">
            <td colspan="7">
                <h2>One sound Crackers</h2>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">
                <a href="/img/2 sound.jpg">
                    <img src="/img/2 sound.jpg" alt="Adult package"></a>
            </td>
            <td>
             2 Sound
            </td>
            <td>
                1 Pocket
            </td>
            <td><strike> Rs.40 </strike></td>
            <td class="row-price">Rs.30</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
        <tr>
            <td>
                <img src="/img/lakshmi.jpeg" alt="Children package">
            </td>
            <td>3 1/2'' lakshmi</td>
            <td>1 Pack</td>
            <td><strike>Rs.60</strike></td>
            <td class="row-price">Rs.30</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
        <tr>
            <td>
                <img src="/img/4'' lakshmi.jpg" alt="4'' lakshmi">
            </td>
            <td>4'' lakshmi</td>
            <td>1 Pocket</td>
            <td><strike>Rs.80</strike></td>
            <td class="row-price">Rs.50</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>

        <tr>
            <td>
                <img src="/img/delux lakshmi.png" alt="delux lakshmi">
            </td>
            <td>
                delux lakshmi
            </td>
            <td>
                1 Pocket
            </td>
            <td><strike>Rs.90</strike></td>
            <td class="row-price">Rs.60</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>



        </tr>
        <tr>
            <td><img src="/img/kuruvi.jpeg" alt="kuruvi"></td>
            <td>kuruvi</td>
            <td>1 Pocket</td>
            <td><strike>Rs.30</strike></td>
            <td class="row-price">Rs.20</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
       

        <tr style="background-color: #eeca1cf5;">
            <td colspan="7">
                <h2>Bomb</h2>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">
                <a href="/img/atom bomb.jpg">
                    <img src="/img/atom bomb.jpg" alt="Adult package"></a>
            </td>
            <td>
            Atom bomb
            </td>
            <td>
                1 Pocket
            </td>
            <td><strike> Rs.40 </strike></td>
            <td class="row-price">Rs.30</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
        <tr>
            <td>
                <img src="/img/hydro bomb.jpg" alt="Hydro bomb">
            </td>
            <td>Hydro bomb</td>
            <td>1 Pocket</td>
            <td><strike>Rs.60</strike></td>
            <td class="row-price">Rs.30</td>
            <td>
                <input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
        <tr>
            <td>
                <img src="/img/classic bomb.jpeg" alt="Classic Bomb">
            </td>
            <td>Classic Bomb</td>
            <td>1 Pocket</td>
            <td><strike>Rs.80</strike></td>
            <td class="row-price">Rs.50</td>
            <td><input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>

        <tr>
            <td>
                <img src="/img/paper bomb.jpg" alt="Paper Bomb">
            </td>
            <td>
                Paper Bomb
            </td>
            <td>
                1kg
            </td>
            <td><strike>Rs.90</strike></td>
            <td class="row-price">Rs.60</td>
            <td><input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>



        </tr>
        <tr>
            <td><img src="/img/colour bomb.jpg" alt="Colour bomb"></td>
            <td>Colour bomb</td>
            <td>1 kg</td>
            <td><strike>Rs.30</strike></td>
            <td class="row-price">Rs.20</td>
            <td><input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
        </tr>
        <tr style="background-color: #eeca1cf5;">
            <td colspan="7">
                <h2>FlowerPot</h2>
            </td>
        </tr>
        <tr>
            <td >
                <a href="/img/fp small.jpg">
                    <img src="/img/fp small.jpg" alt="fp small"></a>
            </td>
            <td>
            Flower pot Small
            </td>
            <td>
                1 box
            </td>
            <td><strike> Rs.40 </strike></td>
            <td class="row-price">Rs.30</td>
            <td><input type="number" step="1" min="1" class="calc" value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
        <tr>
            <td>
                <img src="/img/fp big.jpg" alt="fp big">
            </td>
            <td>flowerpot big</td>
            <td>1 box</td>
            <td><strike>Rs.60</strike></td>
            <td class="row-price">Rs.30</td>
            <td><input type="number" step="1" min="1" class="calc"  value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
        </tr>
        <tr>
            <td>
                <img src="/img/fp ashoka.jpg" alt="fp ashoka">
            </td>
            <td>flowerpot ashoka</td>
            <td>1 box</td>
            <td><strike>Rs.80</strike></td>
            <td class="row-price">Rs.50</td>
            <td><input type="number" class="calc" step="1" min="1" pattern="[0-9]*" ></td>
            <td><input type="number" name="" class="amount" ></td>
        </tr>

        <tr>
            <td>
                <img src="/img/fp giant.jpg" alt="fp giant">
            </td>
            <td>
               Flowerpot Giant
            </td>
            <td>
                1 box
            </td>
            <td><strike>Rs.90</strike></td>
            <td class="row-price">Rs.60</td>
            <td><input type="number" class="calc" step="1" min="1" pattern="[0-9]*" ></td>
            <td><input type="number" name="" class="amount" ></td>



        </tr>
        <tr>
            <td><img src="/img/fp special.jpeg" alt="fp special"></td>
            <td>fp special</td>
            <td>1 box</td>
            <td><strike>Rs.30</strike></td>
            <td class="row-price">Rs.20</td>
            <td><input type="number" class="calc" step="1" min="1" pattern="[0-9]*" ></td>
            <td><input type="number" name="" class="amount" ></td>
        </tr>
        <!-- <tr style="background-color: #eeca1cf5;">
            <td colspan="7">
                <h2>Chorsa</h2>
            </td>
        </tr>
        <tr>
            <td >
                <a href="/img/chorsa.jpeg">
                    <img src="/img/chorsa.jpeg" alt="chorsa"></a>
            </td>
            <td>
           28 chorsa
            </td>
            <td>
                1 box
            </td>
            <td><strike> Rs.36 </strike></td>
            <td class="row-price">Rs.18</td>
            <td><input type="number" step="1" min="1" class="calc" value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr> -->
        <tr style="background-color: #eeca1cf5;">
            <td colspan="7">
                <h2>Chakkars</h2>
            </td>
        </tr>
        <!-- <tr>
            <td >
                <a href="/img/chakar special.jpg">
                    <img src="/img/chakar special.jpg" alt="chorsa"></a>
            </td>
            <td>
                chakkar special
            </td>
            <td>
                1 box
            </td>
            <td><strike> Rs.60 </strike></td>
            <td class="row-price">Rs.35</td>
            <td><input type="number" step="1" min="1" class="calc" value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr> -->
        <tr>
            <td >
                <a href="/img/chakkar big.jpg">
                    <img src="/img/chakkar big.jpg" alt="chakkar"></a>
            </td>
            <td>
                chakkar Big
            </td>
            <td>
                1 box
            </td>
            <td><strike> Rs.70 </strike></td>
            <td class="row-price">Rs.40</td>
            <td><input type="number" step="1" min="1" class="calc" value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
       
        
        <tr>
            <td >
                <a href="/img/chakkar delux.jpg">
                    <img src="/img/chakkar delux.jpg" alt="chakkar"></a>
            </td>
            <td>
                chakkar delux
            </td>
            <td>
                1 box
            </td>
            <td><strike> Rs.70 </strike></td>
            <td class="row-price">Rs.40</td>
            <td><input type="number" step="1" min="1" class="calc" value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
        <!-- <tr>
            <td >
                <a href="/img/chakkar delux.jpg">
                    <img src="/img/chakkar delux.jpg" alt="chakkar"></a>
            </td>
            <td>
                chakkar delux
            </td>
            <td>
                1 box
            </td>
            <td><strike> Rs.70 </strike></td>
            <td class="row-price">Rs.40</td>
            <td><input type="number" step="1" min="1" class="calc" value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr> -->
        <tr>
            <td >
                <a href="/img/chakkar delux.jpg">
                    <img src="/img/chakkar delux.jpg" alt="chakkar"></a>
            </td>
            <td>
                chakkar delux
            </td>
            <td>
                1 box
            </td>
            <td><strike> Rs.70 </strike></td>
            <td class="row-price">Rs.40</td>
            <td><input type="number" step="1" min="1" class="calc" value="" ></td>
            <td><input type="number" class="amount"  value="" ></td>
        </tr>
       <tr style="background-color: #eeca1cf5;height: 80px; ">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       </tr>
        
    </table>
    <div id="cart">


        <h2 style="text-align: center;"> Add Card <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-cart" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
            </svg></h2>

        Total Items <input type="number" value="" class="totItem"> Total amount
        <input type="number" name="" value="" class="totAmount" >
    </div>

    </div>  

    <script src="./js/list.js"></script>
</body>

</html>