 
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cracker Shop</title>
   <link rel="icon" href="/img/kingicon.jpg">
   <style>
     
      h1{
         text-align: center;
      }
      p
      {
         font-size: large;
         font-weight: bold;
         padding: 10px;
      }
   </style>
 </head>
 <body>
   <%- include('partial/header') %>
  <h1 >Terms and Condition</h1 >
        <p>1) Agree you are <b>18</b> years and above of age to place this order </p>

           <p> 2) All goods will be dispatched only after the receipt of 100% payment in advance</p>
            
           <p>3) Once goods are sold no return will be entertained</p>
            
           <p>4) In case of any product not in stock, it shall be replaced by another of the same functionality or its Value</p>
            
           <p>5)The product images shown are for illustration purposes only and may not be an exact representation of the product.</p>
            
           <p>6) After the goods are dispatched, we shall inform you of the Transport Details (Name of the Transporter, Contact Number, Waybill no, no of parcels, etc)</p>
            
            <p> 7) It’s your responsibility to coordinate with the transporter and collect the same at the earliest</p>
            
           <p>8) Please read the shipping policy carefully before ordering</p>
            
           <p>9) Crackers cannot be sent through courier services</p>
            
            <p> 10) Transportation charges will be depend upon place</p>
            
           <p> 11) Subject to SIVAKASI jurisdiction</p>
            
           <p>12) Listed brand/ will be subjected to modify based on stock availability, but we will be guarantee in terms of quality</p>
            
            
        <p>  13) we are requesting our valuable customer to share unpacking video, which can be used for marketing and item missing complaint actioning purpose so please dnt forget it !</p>
      </body>
      </html>