<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crackers Shop</title>
    <link rel="icon" href="/img/kingicon.jpg">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="header" >
        <img class="logo" src="/img/king back.png" alt="">
        <div class="header-right">
        <a class="a" href="/">Home</a>
        <a class="a" href="terms">Instructions</a>
        <a class="a" href="signup">Signup</a>
        <a class="a" href="login">Login</a>
    </div>
    </div>
</body>
</html>